<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
  <add key="inputFile" value="E:\Documents\OneDrive - UBA\eBooks\Kindle\My Clippings.txt" />
  <add key="outputFile" value="E:\Documents\OneDrive - UBA\eBooks\Kindle\KindleClippings.enex" />
  <add key="epubDir" value="E:\Documents\OneDrive - UBA\eBooks\Calibre" />
  <add key="lastLineRead" value="16455" />
 </appSettings>
</configuration>